.header.container.mt-2
  .row
    .contents.col-sm
      = link_to "トップ", "/", class: "btn btn-outline-primary"
      = link_to "My本棚一覧", user_shelves_path(current_user.id), class: "btn btn-outline-primary"
    .user-session.col-sm
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-secondary", method: :delete
      - else
        = link_to "ログイン", new_user_session_path, class: "btn btn-primary"